<h2 style="text-align: center">Upload CSV:</h2>
<hr />

<label for="formFile" class="form-label">CSV file:</label>
<div *ngIf="csvu.invalid && (csvu.dirty || csvu.touched)" class="alert">
  <div *ngIf="csvu.errors?.required" style="font-size: small; color: red">
    CSV File is required.
  </div>
</div>
<input
  required
  name="csvu"
  #csvu="ngModel"
  [(ngModel)]="csvxv"
  type="file"
  #file
  placeholder="Choose file"
  (change)="content($event)"
/>
<br />

<div style="margin-left: 2.5rem">
  <div style="margin: auto; padding-top: 1rem">
    <button
      [disabled]="csvu.invalid"
      (click)="upload()"
      style="width: 6rem"
      class="btn btn-info"
    >
      Submit
    </button>
    <button
      [mat-dialog-close]
      style="margin-left: 2rem; width: 6rem"
      class="btn btn-danger"
    >
      cancel
    </button>
  </div>
</div>
