<h2 style="text-align: center">Upload CSV:</h2>
<hr />
<label for="formFile" class="form-label">CSV file:</label>
<input class="form-control" type="file" #file placeholder="Choose file" (change)="content($event)" >
<br />

<div style="margin-left: 2.5rem">
  <div style="margin: auto; padding-top: 1rem">
    <button (click)="upload()" style="width: 6rem" class="btn btn-info">Submit</button>
    <button  [mat-dialog-close] style="margin-left: 2rem; width: 6rem" class="btn btn-danger">
      cancel
    </button>
  </div>
</div>
