<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <span class="right" [routerLink]="['/tutorhome']"> 
    <a style=" color:whitesmoke; margin-right: 3rem;" >Home</a>
  </span>
  
  <div [matMenuTriggerFor]="menu" class="topnav-right" style="margin-right: 0.5rem">
    <img
      src="data:image/gif;base64,{{ thisTutor.tutorPhoto }}"
      width="50"
      height="50"
      style="border-radius: 55px"
      class="d-inline-block align-top"
      alt=""
    />
  </div>
</nav>

<!--menu-->

<mat-menu #menu="matMenu" xPosition="before">
  
  <button (click)="logout()" mat-menu-item><i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 0.5rem;"></i>Logout</button>
</mat-menu>

<nb-layout>
  <nb-layout-column>
    <div style="padding-top: 2rem; padding-bottom: 1rem">
      <div class="header">Attendance</div>
    </div>

    <div
      style="
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        width: 80%;
        margin: auto;
        border-radius: 15px;
      "
    >
      <br />

      <div class="input-group rounded" style="width: 30%; padding-left: 6rem">
        <input
          [(ngModel)]="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span>
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>

      <br />
      <br />

      <table
        class="table table-hover"
        style="width: 80%; margin: auto; padding-top: 3.5rem"
      >
        <thead>
          <tr>
            <th scope="col">Session Title</th>
            <th scope="col">Module</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of attendanceList  | filter: search | paginate: { itemsPerPage: 5, currentPage: page1,totalItems:totalLength1 }">
            <td>{{ item.title }}</td>
            <td>{{ item.module.moduleCode }}</td>
            <td>{{ item.date }}</td>
            <td>
              <button (click)="openDialog(item)" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <button (click)="openDialog(item)" class="btn btn-primary">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <button (click)="delete(item)" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br>
      <pagination-controls id="second" style=" padding-left: 0px !important; display:flex;float: right" (pageChange)="page1 = $event"></pagination-controls>
      <br>
      <br>
    </div>
  </nb-layout-column>
</nb-layout>

<footer>
  <nav
    id="foot"
    class="navbar"
    style="width: 100%; position: absolute; bottom: 0"
  >
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
