
<nav id="adminnav" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="right">
        <a routerLink="/adminhome" style="color: whitesmoke; margin-right: 3rem;">Home</a>

      </div>
    <div class="topnav-right" >


        <div [matMenuTriggerFor]="menu"  class="dot" >A</div>
    </div>
  </nav>


  <!--menu-->

  <mat-menu #menu="matMenu" xPosition="before">
  
    <button (click)="logout()" mat-menu-item><i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 0.5rem;"></i>Logout</button>
  </mat-menu>

  <span flex></span>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav  style="width: 10rem;background-color: rgb(54, 72, 80);" #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar style="color: white;text-align: center;background-color: rgb(54, 72, 80)">Menu</mat-toolbar>
      <mat-nav-list >
      <a [routerLink]="['/applications']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-id-card-o" aria-hidden="true"></i>Tutor Application</a>
        <a [routerLink]="['/tutor']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-user" aria-hidden="true"></i>Tutors</a>
        <a [routerLink]="['/university']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-university" aria-hidden="true"></i>Universities </a>
        <a [routerLink]="['/course']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-folder-open" aria-hidden="true"></i>Courses</a>
        <a [routerLink]="['/subscription']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-file" aria-hidden="true"></i>Subscription</a>
        <a [routerLink]="['/student']" style="color: white;font-size: small;" mat-list-item href="#"><i  style="font-size: medium;padding: 0.3rem;" class="fa fa-users" aria-hidden="true"></i>Students</a>
        <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-folder-open" aria-hidden="true"></i>Session Content</a>
        <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-line-chart" aria-hidden="true"></i>Report</a>
        <a style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-user-circle-o" aria-hidden="true"></i>User Roles</a>
        <a [routerLink]="['/payments']"style="color: white;font-size: small;" mat-list-item href="#"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-credit-card" aria-hidden="true"></i>Payments</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  <nb-layout>
    <nb-layout-column>

<div class="row" style="padding-bottom: 4rem;padding-top: 2rem;">
    <div class="col-md-4">
        <div class="div" style="height: 160px;width: 200px;background-color: white;margin-left: 55%; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);border-radius: 15%;"><h5 style="text-align: center;color:black  ;padding-top: 0.5rem;">Total Students</h5><br><span style="font-size:xx-large;margin-left: 3.5rem;">100 <i class="fa fa-users" aria-hidden="true"></i></span></div>
    </div>
    <div class="col-md-4">
        <div class="div"style="height: 160px;width: 200px;background-color: white;margin-left: 50%; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);border-radius: 15%;"><h5 style="text-align: center;color:black ;padding-top: 0.5rem;">Total Tutors</h5> <br><span style="font-size:xx-large;margin-left: 4rem;">20 <i class="fa fa-user" aria-hidden="true"></i></span></div>
    </div>
    <div class="col-md-4">
        <div class="div"style="height: 160px;width: 200px;background-color: white;margin-left: 45%; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);border-radius: 15%;"><h6 style="text-align: center;color:black ;padding-top: 0.5rem;"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-university" aria-hidden="true"></i>Universities: 5</h6><br><h6 style="text-align: center;color:black ;margin-right: 0.9rem;"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-graduation-cap" aria-hidden="true"></i>Degrees: 12</h6><br><h6 style="text-align: center;color:black ;margin-right: 0.5rem;"><i style="font-size: medium;padding: 0.3rem;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Modules: 30</h6> </div>
    </div>

</div>




<div class="row" style="padding-bottom: 1rem;padding-top: 0.5rem;">
    <div class="col-md-6">
        <div style="width: 500px;height:200px;margin-left: 11rem;">

            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>

          <div>
           <button style="float: right;" class="btn btn-info">Download</button>
          </div>


      </div>
    </div>
    <div class="col-md-6">
        <div class="chart-wrapper" id="htmlDatas" style="width: 500px;height:400px;margin-left: 7rem;">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">

      </canvas>
      <button style="float: right; margin-right: 1rem;" class="btn btn-info">Download</button>
      </div>

    </div>


</div>
</nb-layout-column>
</nb-layout>
<footer>
    <nav style="height: 3rem;"  id="foot" class="navbar ">
      <a class="navbar-brand" href="#">

      </a>
      <span class="TDO" style=" margin-right: 27%;"
        > &lt; TDO &gt;</span
      >
      <div class="topnav-right">

        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>
