<nav id="adminnav" class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <div class="right"></div>

  <div class="right" style="margin-left: 2rem">
   

    <span [routerLink]="['/studenthomepage/studenthome']" style="color: whitesmoke; margin-right: 2rem; padding-left: 1.5rem"
      >Home</span
    >
  </div>
  <div class="topnav-right">
    <div [matMenuTriggerFor]="menu" class="dot">{{ student.studentName[0]+ student.studentSurname[0] }}</div>
  </div>
</nav>

<!--menu-->

<mat-menu #menu="matMenu" xPosition="before">
  <button (click)="profile()" mat-menu-item>
    <i class="fa fa-user" aria-hidden="true" style="padding-right: 0.5rem"></i
    >Profile
  </button>
  <button (click)="logout()" mat-menu-item>
    <i
      class="fa fa-sign-out"
      aria-hidden="true"
      style="padding-right: 0.5rem"
    ></i
    >Logout
  </button>
</mat-menu>

<span flex></span>
  
  <mat-menu #menu="matMenu" xPosition="before">
    <button [routerLink]="['/profile']" mat-menu-item><i class="fa fa-user" aria-hidden="true" style="padding-right: 0.5rem;"></i>Profile</button>
    <button (click)="logout()" mat-menu-item>
      <i
        class="fa fa-sign-out"
        aria-hidden="true"
        style="padding-right: 0.5rem"
      ></i
      >Logout
    </button>
  </mat-menu>




  <div style="padding-top: 2rem; padding-bottom: 1rem">
    <div class="header">My Messages</div>
  </div>
  
  <nb-layout style="width: 10rem">
    <nb-layout-column style="width: 10rem">
      <nb-tabset style="width: 67rem; margin-left: 4rem" fullWidth>
        <nb-tab tabTitle="Sent">
          <div
            style="
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
              width: 101%;
              margin: auto;
              border-radius: 15px;
            "
          >
            <br />
  
            <div
              class="input-group rounded"
              style="width: 20%; padding-left: 0.5rem; margin-left: 5rem"
            >
              <input
                [(ngModel)]="search"
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span>
                <button class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
  
            <table
              class="table table-hover"
              style="width: 80%; margin: auto; padding-top: 3.5rem"
            >
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">Tutor name:</th>
                  <th scope="col">Surname:</th>
                  <th scope="col">Email:</th>
                  <th scope="col">Time:</th>
                  <th scope="col">Message:</th>
  
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of MessagesSent | filter: search">
                  <td> <img
                    width="50"
                    height="50"
                    style="border-radius: 55px;"
                    class="d-inline-block align-top"
                    src="data:image/gif;base64,{{item.tutor?.tutorPhoto}}"
                  /></td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorName }}</td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorSurname }}</td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorEmail }}</td>
                  <td  style="vertical-align:middle;">{{ item.timeStamp }}</td>
                  <td  style="vertical-align:middle;" (click)="viewSentMessage(item)">
                    <i
                      style="font-size: x-large"
                      class="fa fa-envelope-o"
                      aria-hidden="true"
                    ></i>
                  </td>
                  <td  style="vertical-align:middle;" (click)="deleteSentMessage(item.id)">
                    <button class="btn btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <br />
  
            <pagination-controls  id="first" style=" padding-left: 0px !important; display:flex;float: right" (pageChange)="page = $event"></pagination-controls>
       
            <br>
           <br>
          </div>
  
          <div style="padding: 1rem; margin-left: 19rem">
            <button
              [routerLink]="['/viewtutors']"
              style="margin-left: 80%"
              class="btn btn-info"
            >
              New message
            </button>
          </div>
          <br />
        </nb-tab>
  
        <nb-tab tabTitle="Received">
          <div
            style="
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
              width: 101%;
              margin: auto;
              border-radius: 15px;
            "
          >
            <br />
  
            <div
              class="input-group rounded"
              style="width: 20%; padding-left: 0.5rem; margin-left: 5rem"
            >
              <input
                [(ngModel)]="search"
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span>
                <button class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
  
            <table
              class="table table-hover"
              style="width: 80%; margin: auto; padding-top: 3.5rem"
            >
              <thead>
                <tr>
                <th scope="col"></th>
                  <th scope="col">Tutor name:</th>
                  <th scope="col">Surname:</th>
                  <th scope="col">Email:</th>
                  <th scope="col">Time:</th>
                  <th scope="col">Message:</th>
  
                  <th scope="col"></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of MessagesRecieved | filter: search">
                  <td> <img
                    width="50"
                    height="50"
                    style="border-radius: 55px;"
                    class="d-inline-block align-top"
                    src="data:image/gif;base64,{{item.tutor?.tutorPhoto}}"
                  /></td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorName }}</td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorSurname }}</td>
                  <td  style="vertical-align:middle;">{{ item.tutor.tutorEmail }}</td>
                  <td  style="vertical-align:middle;">{{ item.timeStamp }}</td>
                  <td  style="vertical-align:middle;" (click)="viewReceivedMessage(item)">
                    <i
                      style="font-size: x-large"
                      class="fa fa-envelope-o"
                      aria-hidden="true"
                    ></i>
                  </td>
                 
                </tr>
              </tbody>
            </table>
            <br />
            <br />
  
            <pagination-controls id="second" style=" padding-left: 0px !important; display:flex;float: right" (pageChange)="page1 = $event"></pagination-controls>
              <br>
              <br>
          </div>
  
          <div style="padding: 1rem; margin-left: 19rem">
            <button
              [routerLink]="['/viewtutors']"
              style="margin-left: 80%"
              class="btn btn-info"
            >
              New message
            </button>
          </div>
          <br />
        </nb-tab>
      </nb-tabset>
    </nb-layout-column>
  </nb-layout>
  <br />
  <br />
  
  <footer>
    <nav id="foot" class="navbar" style="width: 100%; bottom: 0">
      <a class="navbar-brand" href="#"> </a>
      <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
      <div class="topnav-right">
        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>