<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <div [routerLink]="['/studenthomepage/studenthome']" class="topnav-right">
    <a>Home</a>
  </div>
  <div class="topnav-right">
    <div [matMenuTriggerFor]="menu" class="dot">
      {{ thissStudent.studentName[0] + thissStudent.studentSurname[0] }}
    </div>
  </div>
</nav>

<!--menu-->

<mat-menu #menu="matMenu" xPosition="before">
  <button [routerLink]="['/profile']" mat-menu-item>
    <i class="fa fa-user" aria-hidden="true" style="padding-right: 0.5rem"></i
    >Profile
  </button>
  <button (click)="logout()" mat-menu-item>
    <i
      class="fa fa-sign-out"
      aria-hidden="true"
      style="padding-right: 0.5rem"
    ></i
    >Logout
  </button>
</mat-menu>

<span flex></span>

<div style="padding-top: 2rem; padding-bottom: 2rem; margin-left: 3.5rem">
  <div class="header" style="height: 2.5rem">Resources</div>
</div>

<nb-layout>
  <nb-layout-column>
    <div
      style="
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        width: 80%;
        margin: auto;
        border-radius: 15px;
      "
    >
      <br />
      <div class="row">
        <div
          class="col-md-4"
          style="width: 20%; padding-left: 0.5rem; margin-left: 1rem"
        >
          <mat-form-field appearance="outline">
            <mat-label>Module:</mat-label>
            <mat-select (valueChange)="selectType($event)">
              <mat-option *ngFor="let type of moduleList" [value]="type.id">
                {{ type.moduleCode }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="col-md-8"
          style="width: 20%; padding-left: 0.5rem; margin-left: 1rem"
        >
          <div style="margin-top: 0.5rem">
            <button
              (click)="filter()"
              style="height: 3.1rem"
              class="btn btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="hasContent">
        <div class="row">
          <div
            class="col-md-4"
            *ngFor="let item of resourceList | filter: search"
          >
            <div
              style="
                margin-top: 3rem;
                border-radius: 25px;
                background-color: rgb(6, 6, 7);
                width: 17rem;
                margin-left: 20%;
                height: 20rem;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                  0 6px 6px rgba(0, 0, 0, 0.23);
              "
            >
              <br />
              <div
                style="
                  text-align: center;
                  width: 12rem;
                  height: 2rem;
                  margin-left: 0.5rem;
                "
              >
                <h5 style="margin-left: 2.5rem; color: white">
                  {{ item.resourceCategory.resourceCategoryName }}
                </h5>
                <hr style="width: 125%; color: white" />
              </div>
              <div style="text-align: center; padding-top: 1.9rem">
                <div>
                  <h6 style="color: white"></h6>
                  <p style="color: white">
                    {{ item.resourceDescription }}
                    <br />
                    <br />
                  </p>
                </div>
                <div style="margin-top: 2.3rem">
                  <button (click)="download(item)" class="btn btn-outline-info">
                    <i class="fa fa-download"></i> Download
                  </button>
                </div>
              </div>
            </div>

            <br />
            <br />
          </div>
        </div>
      </div>

      <div *ngIf="!hasContent">
        <h5 style="text-align: center; margin-bottom: 1rem">No resources</h5>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<footer style="bottom: 0; width: 100%; position: absolute">
  <nav style="height: 3rem" id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: 27%"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
