<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <div class="right" style="margin-left: 2rem">
    <span [routerLink]="['/studenthomepage/studenthome']" style="color: whitesmoke; margin-right: 2rem; padding-left: 1.5rem"
    >Home</span
  ></div>

    <div class="topnav-right">
      <div [matMenuTriggerFor]="menu" class="dot">
        {{ thissStudent.studentName[0] + thissStudent.studentSurname[0] }}
      </div>
    </div>
  
</nav>
<mat-menu #menu="matMenu" xPosition="before">
  <button (click)="logout()" mat-menu-item>
    <i
      class="fa fa-sign-out"
      aria-hidden="true"
      style="padding-right: 0.5rem"
    ></i
    >Logout
  </button>
</mat-menu>

<div style="padding-top: 2rem; padding-bottom: 2rem; margin-left: 3.5rem">
  <div class="header" style="height: 2.5rem">Profile</div>
</div>

<nb-layout>
  <nb-layout-column>
    <div
      style="
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        width: 80%;
        margin-left: 8rem;
        border-radius: 15px;
        height: 55%;
      "
    >
      <br />

      <div class="row">
        <div class="col-md-6">
          <a class="navbar-brand" style="margin-left: 6rem; margin-top: 0.5rem">
            <div style="height: 10rem; width: 10rem" class="dot">
              <h1
                style="
                  margin-top: 3.2rem;
                  margin-left: 00.2rem;
                  font-size: 70px;
                  color: whitesmoke;
                "
              >
                {{
                  thissStudent.studentName[0] + thissStudent.studentSurname[0]
                }}
              </h1>
            </div>
          </a>
          <div style="margin-left: 7.5rem; padding-top: 0.5rem">
            <p><b>Username: </b>{{ thissStudent.identity.userName }}</p>
            
          </div>
        </div>

        <div class="col-md-6">
          <div class="row" style="margin-top: 2rem; ">
            <div class="col-md-7">
              <p><b>First Name:</b> {{ thissStudent.studentName }}</p>
              <p style="margin-right: 9rem;"><b>Email:</b> {{ thissStudent.identity.email }}</p>
            </div>
            <div class="col-md-5">
              <p><b>Surname:</b> {{ thissStudent.studentSurname }}</p>
              <p><b>Phone:</b> {{ thissStudent.studentCell }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <p><b>University:</b> {{thissStudent.studentModule[0].module.degree.university.universityName}}</p>
              <p style="margin-right: 9rem;"><b>Degree:</b>  {{thissStudent.studentModule[0].module.degree.degreeName}}</p>
            </div>
            <div class="col-md-5">
              <p><b>Module:</b> {{thissStudent.studentModule[0].module.moduleCode}}</p>
             
            </div>
          </div>
        </div>
        
      </div>
     

      <br />
      <br />
      <div style="margin-left: 2rem">
        <button
          (click)="openEditDialog()"
          class="btn btn-info"
          style="width: 6rem"
        >
          Edit
        </button>

        <button
        (click)="changePassword()"
          class="btn btn-primary"
          style="font-size: medium; margin-left: 1rem"
        >
          Change password
        </button>

        <button
          (click)="onDelete(thissStudent.id)"
          class="btn btn-danger"
          style="margin-left: 1rem; width: 6rem"
        >
          Delete
        </button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<footer style="width: 100%; bottom: 0; position: absolute">
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
