<h4 style="text-align: center; color: rgb(0, 156, 158) ;">TutorDevOps</h4>
<h6 style="text-align: center; padding-top: 0.5rem; padding-bottom: 1rem">
  Please enter your email
</h6>
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Email:</mat-label>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
      <div
        *ngIf="email.errors?.required"
        style="font-size: smaller; color: red"
      >
        Email is required.
      </div>
      <div
        *ngIf="email.errors?.minlength"
        style="font-size: smaller; color: red"
      >
        Email must be at least 8 characters long.
      </div>
      <div *ngIf="email.errors?.pattern" style="font-size: smaller; color: red">
        Please enter a valid email.
      </div>
    </div>
    <input
      [(ngModel)]="form.email"
      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
      placeholder="Example@gmail.com"
      type="email"
      matInput
      required
      minlength="8"
      id="email"
      #email="ngModel"
    />
  </mat-form-field>
</div>
<div style="padding-top: 1rem">
  <button
    (click)="forgotPassword()"
    class="btn btn-info"
    style="margin-left: 2.5rem; width: 5rem"
    [disabled]="
                email.invalid"
  >
    Submit
  </button>
  <button
    [mat-dialog-close]
    class="btn btn-danger"
    style="margin-left: 3.5rem; width: 5rem"
  >
    cancel
  </button>
</div>
