<h5 style="text-align: center">Provide Feedback</h5>
<hr />
<label style="font: bolder"
  >Provide feedback on the tutor for the session:</label
>
<p>
  <i class="fa fa-commenting-o" aria-hidden="true"></i> Please rate the session
  the tutor provided out of 10 according to the parameters below:
</p>

<mat-form-field class="example-full-width">
  <mat-label>Friendliness:</mat-label>
  <input
    mdInput
    type="number"
    matInput
    placeholder="Friendliness 1-10"
    [(ngModel)]="data.Friendliness"
  />
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Timeliness</mat-label>
  <input
    mdInput
    type="number"
    matInput
    placeholder="Timeliness 1-10"
    [(ngModel)]="data.Timeliness"
    #name="ngModel"
  />
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Ability</mat-label>
  <input
    mdInput
    type="number"
    matInput
    placeholder="Ability 1-10"
    [(ngModel)]="data.Ability"
  />
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Description:</mat-label>
  <textarea matInput [(ngModel)]="data.Description"></textarea>
</mat-form-field>

<div style="margin: auto; padding-top: 1rem">
  <button (click)="createFeedback()" style="width: 6rem" class="btn btn-info">
    Submit
  </button>
  <button (click)="cancel()" style="margin-left: 2rem; width: 6rem" class="btn btn-danger">
    Cancel
  </button>
</div>
