<h5 style="text-align: center">{{ popupTitle }}</h5>
<hr />
<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <!--dropdown with session type names -->
    <mat-label>Session Type </mat-label>
    <mat-select (valueChange)="selectType($event)">
      <mat-option *ngFor="let item of typeList" [value]="item.id">
        {{ item.sessionType.sessionTypeName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- subscription name -->
  <mat-form-field class="example-full-width">
    <mat-label>Name:</mat-label>
    <input [(ngModel)]="data.SubscriptionName" matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Duration:</mat-label>
    <input [(ngModel)]="data.Duration" matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Quantity:</mat-label>
    <input [(ngModel)]="data.Quantity" matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price:</mat-label>
    <input [(ngModel)]="data.price" matInput />
  </mat-form-field>

</mat-dialog-content>

<h1>{{ data.id }}</h1>
<div style="margin: auto; padding-top: 1rem; text-align: center">
  <button
    (click)="submitEdittedSubscription()"
    style="width: 6rem"
    class="btn btn-info"
  >
    Submit
  </button>
  <button
    [mat-dialog-close]
    style="margin-left: 2rem; width: 6rem"
    class="btn btn-danger"
  >
    Cancel
  </button>
</div>
