<nav id="adminnav" class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >

  
  <!--use this for tutorhome link-->
  <span class="right" [routerLink]="['/tutorhome']"> 
    <a style=" color:whitesmoke; margin-right: 3rem;" >Home</a>
  </span>
  <!--end-->
  
  <!--use this for tutorphoto and dropdown-->
  <div [matMenuTriggerFor]="menu"   class="dot" class="topnav-right" style="margin-right: 0.5rem">
    <img
      src="data:image/gif;base64,{{ tutor.tutorPhoto }}"
      width="50"
      height="50"
      style="border-radius: 55px"
      class="d-inline-block align-top"
      alt=""
      
    />
  </div>


  <!--end-->
</nav>
  <!--menu-->

  <mat-menu #menu="matMenu" xPosition="before">
  
    <button (click)="logout()" mat-menu-item><i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 0.5rem;"></i>Logout</button>
  </mat-menu>
  <!--end-->
  
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    style="width: 10rem; background-color: rgb(54, 72, 80)"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      style="
        color: white;
        text-align: center;
        background-color: rgb(54, 72, 80);
      "
      >Menu</mat-toolbar
    >
    <mat-nav-list style="margin-top: 1rem">
      <a  [routerLink]="['/sessions']" style="color: white; font-size: small" mat-list-item href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-calendar-plus-o"
          aria-hidden="true"
        ></i
        >Sessions</a
      >
      <br />
      <a
        [routerLink]="['/students']"
        style="color: white; font-size: small"
        mat-list-item
        href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-users"
          aria-hidden="true"
        ></i
        >Students</a
      >
      <br />
      <a
        [routerLink]="['/messages']"
        style="color: white; font-size: small"
        mat-list-item
        href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-envelope"
          aria-hidden="true"
        ></i
        >Messages</a
      >
      <br />
      <a
        [routerLink]="['/attendance']"
        style="color: white; font-size: small"
        mat-list-item
        href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-list"
          aria-hidden="true"
        ></i
        >Attendance</a
      >
      <br />
      <a
        [routerLink]="['/sessioncontent']"
        [routerLink]="['/sessioncontent']"
        style="color: white; font-size: small"
        mat-list-item
        href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-file"
          aria-hidden="true"
        ></i
        >Session Content</a
      >
      <br />
      <a
        [routerLink]="['/resourcecategory']"
        style="color: white; font-size: small"
        mat-list-item
        href="#"
        ><i
          style="font-size: medium; padding: 0.3rem"
          class="fa fa-users"
          aria-hidden="true"
        ></i
        >Resources</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<nb-layout>
  <nb-layout-column>
    <div
      style="
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        width: 80%;
        margin-left: 12rem;
        border-radius: 15px;
        height: auto;
      "
    >
      <br />

      <div class="row">
        <div class="col-md-6">
          <a class="navbar-brand" href="#" style="margin-left: 6rem">
            <img
              src="data:image/gif;base64,{{ tutor.tutorPhoto }}"
              width="200"
              height="200"
              style="border-radius: 95px"
              class="d-inline-block align-top"
              alt=""
            />
          </a>
          <div style="margin-left: 8rem; padding-top: 0.5rem">
            <p><b>Username: </b>{{ tutor.identity.userName }}</p>

          </div>
        </div>

        <div class="col-md-6" style="margin-top: 2rem;">
          <div class="row" style="margin-top: 1rem">
            <div class="col-md-6">
              <p><b>First Name:</b> {{ tutor.tutorName }}</p>
              <p><b>Email:</b> {{ tutor.tutorEmail }}</p>

            </div>
            <div class="col-md-6">
              <p><b>Surname:</b> {{ tutor.tutorSurname }}</p>
              <p><b>Phone:</b> {{ tutor.tutorCell }}</p>

            </div>
          </div>
          <div style="margin-bottom: 2rem;">

            <p><b>About: </b>{{ tutor.tutorAbout }}</p>
          </div>

          <br />

          <div style="margin-left: 2rem; margin-bottom: 5rem;">
            <button
              (click)="openDialog()"
              class="btn btn-info"
              style="width: 6rem"
            >
              Edit
            </button>

            <button (click)="changePassword()"
             class="btn btn-primary"
              style="font-size: medium; margin-left: 1rem"
            >
              Change password
            </button>

            <button
              class="btn btn-danger"
              (click)="delete(tutor.id)"
              style="margin-left: 1rem; width: 6rem"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<footer style="width: 100%; bottom: 0; position: absolute">
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
