<h4 style="text-align: center; color: rgb(0, 156, 158)">TutorDevOps</h4>
<h6 style="text-align: center; padding-top: 0.5rem; padding-bottom: 1rem">
  Change your password:
</h6>
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your new password:</mat-label>
    <div
    *ngIf="
    passworda.invalid && (passworda.dirty && passworda.touched)
    "
    class="alert"
  >
    <div
      *ngIf="passworda.errors?.required"
      style="font-size: smaller; color: red"
    >
      Password is required.
    </div>
    <div
      *ngIf="passworda.errors?.minlength"
      style="font-size: smaller; color: red"
    >
      Password must be 12 characters.
    </div>
    <div
      *ngIf="passworda.errors?.pattern"
      style="font-size: smaller; color: red"
    >
      Password must contain atleast a lowercase and an uppercase letter, a number and a special character.
    </div>
  </div>
    <input
      [(ngModel)]="passwordData.Password"
      [ngModelOptions]="{ standalone: true }"
      matInput
      type="password"
      name="passworda"
      #passworda="ngModel"
      placeholder="password"
      minlength="12"
                  required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&?])[A-Za-z\d#$@!%&*?]{12,30}$"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Re-enter your new password:</mat-label>
    <div
    *ngIf="
    passwordb.invalid && (passwordb.dirty || passwordb.touched)
    "
    class="alert"
  >
    <div
      *ngIf="passwordb.errors?.required"
      style="font-size: smaller; color: red"
    >
      Password is required.
    </div>
    <div
      *ngIf="passwordb.errors?.minlength"
      style="font-size: smaller; color: red"
    >
      Password must be 12 characters.
    </div>
    <div
      *ngIf="passwordb.errors?.pattern"
      style="font-size: smaller; color: red"
    >
    Password must contain atleast a lowercase and an uppercase letter, a number and a special character.
    </div>
  </div>
    <input
      [(ngModel)]="confirm.cPassword"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="password"
      type="password"
      name="passwordb"
      #passwordb="ngModel"
                  required
                  minlength="12"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&?])[A-Za-z\d#$@!%&*?]{12,30}$"
    />
  </mat-form-field>
</div>
<div style="padding-top: 1rem;margin-left: 4rem;">
  <button [disabled]="!passwordData.Password || !confirm.cPassword"
   (click) = "confirmed()"
    class="btn btn-info"
    style="margin-left: 2.5rem; width: 5rem"
  >
    Submit
  </button>
  <button [mat-dialog-close] class="btn btn-danger" style="margin-left: 3.5rem; width: 5rem">
    Cancel
  </button>
</div>

