<h4 style="text-align: center; color: rgb(0, 156, 158)">TutorDevOps</h4>
<h6 style="text-align: center; padding-top: 0.5rem; padding-bottom: 1rem">
  Change your password:
</h6>
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your new password:</mat-label>
    <input
      [(ngModel)]="passwordData.Password"
      [ngModelOptions]="{ standalone: true }"
      matInput
      type="password"
      placeholder="password"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Re-enter your new password:</mat-label>
    <input
      [(ngModel)]="confirm.cPassword"
      [ngModelOptions]="{ standalone: true }"
      matInput
      type="password"
      placeholder="password"
    />
  </mat-form-field>
</div>
<div style="padding-top: 1rem;margin-left: 5rem;">
  <button [disabled]="!passwordData.Password || !confirm.cPassword"
   (click) = "confirmed()"
    class="btn btn-info"
    style="margin-left: 2.5rem; width: 5rem"
  >
    Submit
  </button>
  <button [mat-dialog-close] class="btn btn-danger" style="margin-left: 3.5rem; width: 5rem">
    Cancel
  </button>
</div>
