<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img
        src="../.././assets/pics/HD logo.png"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
      >TutorDevOps</span
    >
    <div class="topnav-right">
      <a  style="color: white;text-decoration: none"  [routerLink]="['/loginhomepage/login']">Home</a>
      <a>About</a>
      <a>Plans</a>
      <a>Content</a>
      <a>Online Store</a>
      <a style="color: white;text-decoration: none" [routerLink]="['/tutorhomepage/application']">Teach For TDO</a>
    </div>
  </nav>
  
  <div style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="header" style="height:2.5rem" >About</div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
            <div style=" margin-top: 0.5rem;
            border-radius: 25px;
            background-color:white;
            width: 70rem;
            margin-left: 15%;
            height: 19rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);
            
          ">
            <h1 style="text-align: center;text-decoration: underline;font-weight: bold;"> &lt; We Are TutorDevOps &gt;</h1>
            <div class="row">
                <div class="col-md-4">
                    <img style="margin-left: 3rem;"
                    src="../.././assets/pics/HD logo.png"
                    width="200"
                    height="200"
                    class="d-inline-block align-top"
                    alt=""
                  />
                </div>
                <div class="col-md-8">
                    <div style="margin-left: 3rem;">
                    <h2>who are we:</h2>
                    <p>
                        A South African based online coding institute that aims to  equip students with all the fundamental 
                        tools in order to thrive in the software development /coding environment.
                        Our Goal is to deliver quality tutoring using cutting edge technologies and the 
                        latest apps , software and platforms. Throughout our years of teaching we habe noticed the lack of confidence
                        amongst the South African Youth when it comes to technology. Thus it became our misson to help the Youthmazimize
                        their potential whe it comes the the ever changing technological environment.
                    </p>
                </div>
                </div>
            </div>

          </div>
      </div>
  </div>
  <br>
  <div style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="header" style="height:2.5rem" >Languages</div>

  </div>
<br>
<div class="row" style="padding-bottom: 2rem;">
    <div class="col-md-4">
        <img style="margin-left: 6rem;"
        src="../../../assets/pics/circle-cropped (5).png"
        width="200"
        height="200"
        class="d-inline-block align-top"
        alt=""
      />
    </div>
    <div class="col-md-4">
        <img style="margin-left: 7rem;"
        src="../../../assets/pics/circle-cropped (91).png"
        width="200"
        height="200"
        class="d-inline-block align-top"
        alt=""
      />

    </div>
    <div class="col-md-4">
        <img style="margin-left: 7rem;"
        src="../../../assets/pics/circle-cropped (4).png"
        width="200"
        height="200"
        class="d-inline-block align-top"
        alt=""
      />

    </div>

</div>
<br>
<footer style="width: 100%;">
    <nav  id="foot" class="navbar ">
      <a class="navbar-brand" href="#">
       
      </a>
      <span class="TDO" style=" margin-right: auto"
        > &lt; TDO &gt;</span
      >
      <div class="topnav-right">
        
        <a href="#"> <i class="fa fa-facebook"></i> </a>
        <a href="#"> <i class="fa fa-instagram"></i> </a>
        <a href="#"> <i class="fa fa-twitter"></i> </a>
        <a>TutorDevOps@gmail.com</a>
      </div>
    </nav>
  </footer>