@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

nb-layout-column {
  background-color: white;
  height: 100%;
}

nnb-layout {
  margin-top: 50rem;
  height: 100%;
}

//bottom nav bar
#foot {
  background: lightgray;
}
.fa-facebook {
  color: white;
  border-radius: 30px;
  width: 29px;
}

.fa-instagram {
  color: white;
  border-radius: 30px;
  width: 29px;
}
.fa-twitter {
  color: white;
  border-radius: 30px;
  width: 29px;
}

//variable for color of top nav bar
$navcolor: rgb(44, 51, 54);
//color of tdo
$greentdo: rgb(0, 156, 158);
.mat-menu-panel.my-class {
  width: 400px;
  height: 300px;
}
//makes secreen now have white gaps
html,
body {
  max-width: 100%;

  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  // zoom: 85%;
}

//header next to logo in nave bar
.TDO {
  color: rgb(0, 156, 158);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// links in top nav bar
.topnav-right {
  float: right;

  a {
    padding: 0.5rem;
    margin-right: 2rem;
    &:hover {
      background: lighten($navcolor, 6);
    }
  }
  color: whitesmoke;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-full-width {
  width: 75%;
  margin-left: 2.5rem;
}

.dot {
  padding: 0.5rem;
  margin-right: 3rem;
  height: 37px;
  width: 37px;
  background-color: $greentdo;
  border-radius: 50%;
  text-align: center;

  font-size: 15px;
}

#adminnav {
  a {
    margin-left: 10rem;
  }
}

//green headers
.header {
  padding: 0.5rem;

  background-color: $greentdo;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  border-radius: 40%;
  height: 40px;
  width: 350px;
  border-radius: 40px;
  font-size: x-large;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
