<nav id="adminnav" class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <div class="right" routerLink="/adminhome">
    <a style="color: whitesmoke; margin-right: 3rem">Home</a>
  </div>
  <div class="topnav-right">
    <div class="topnav-right">
      <div [matMenuTriggerFor]="menu"  class="dot" >A</div>
    </div>
  </div>
</nav>
<!--menu-->

<mat-menu #menu="matMenu" xPosition="before">
  
  <button (click)="logout()" mat-menu-item><i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 0.5rem;"></i>Logout</button>
</mat-menu>

<nb-layout>
  <nb-layout-column>
    <div style="padding-top: 2rem; padding-bottom: 2rem">
      <div class="header">List of Degrees</div>
    </div>



    <div
      style="
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        width: 80%;
        margin: auto;
        border-radius: 15px;
      "
    >
      <br />
      <div class="input-group rounded" style="width: 30%; padding-left: 6rem">
        <input
          [(ngModel)]="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span>
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <br />
      <table
        class="table table-hover"
        style="width: 80%; margin: auto; padding-top: 2rem"
      >
        <thead>
          <tr>
            <th scope="col">Degree</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of degreeList | filter: search  | paginate: { itemsPerPage: 5, currentPage: page,totalItems:totalLength, id: 'first' }">
            <td (click)="navigateToModule(item.id)">{{ item.degreeName }}</td>
            <td>
              <button (click)="openEditDialog(item)" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
            <td>
              <button (click)="delete(item.id)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
   
      <pagination-controls  id="first" style=" padding-left: 0px !important; display:flex;float: right" (pageChange)="page = $event"></pagination-controls>
     
      <br />
      <br />
    </div>
    <br />
    <button
      (click)="openAddDialog()"
      style="margin-left: 8rem"
      class="btn btn-info"
    >
      Create Degree
    </button>

    <button
    routerLink="/university"
    style="margin-left: 1rem"
    class="btn btn-info"
  >
    Universities
  </button>
  </nb-layout-column>
</nb-layout>

<footer style="bottom: 0; position: absolute; width: 100%">
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
