<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
</nav>

<div style="padding-top: 2rem; padding-left: 4rem; padding-bottom: 2rem">
  <h3>Reset Your Password</h3>

  <p>Enter a new password for your account.<br /></p>
  <br />

  <form #userform="ngForm" style="padding-top: 1rem">
    <mat-form-field appearance="fill" style="width: 20rem">
      <mat-label>Enter new password</mat-label>
      <div
        *ngIf="passworda.invalid && (passworda.dirty || passworda.touched)"
        class="alert"
      >
        <div
          *ngIf="passworda.errors?.required"
          style="font-size: smaller; color: red"
        >
          Password is required.
        </div>
        <div
          *ngIf="passworda.errors?.minlength"
          style="font-size: smaller; color: red"
        >
          Password must be 12 characters.
        </div>
        <div
          *ngIf="passworda.errors?.pattern"
          style="font-size: smaller; color: red"
        >
          Password must contain atleast a lowercase and an uppercase letter, a
          number and a special character.
        </div>
      </div>
      <input  #passwordcontrol="ngModel" name="password"
        [(ngModel)]="form.password"
        type="password"
        name="passworda"
        matInput
        #passworda="ngModel"
        minlength="12"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&?])[A-Za-z\d#$@!%&*?]{12,30}$"
      />
      
    </mat-form-field>

    <br />
    <br />
    <mat-form-field appearance="fill" style="width: 20rem">
      <mat-label>Confirm new password</mat-label>

      <input type="password" matInput  #confirm="ngModel" name="confirmpassword"[(ngModel)]="confirmpassword"  />
     
    </mat-form-field>
    <br />
    <span style="color: red;font-size: small;" class="help-block" *ngIf="confirm.invalid && confirm.touched ">password is required</span>
    <span style="color: red;font-size: small;" class="help-block" *ngIf="confirm.valid && confirm.value != passwordcontrol.value ">password does not match</span>
   
    <br />
  
  <button
  [disabled]="userform.invalid || confirm.value != passwordcontrol.value"
    (click)="resetPassword()"
    class="btn btn-info"
    style="width: 20rem"
    [routerLink]="['/loginhomepage/login']"
  >
    Submit
  </button>
</form>
</div>

<footer style="bottom: 0; position: absolute; width: 100%">
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
