<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
</nav>

<div style="padding-top: 2rem; padding-left: 4rem; padding-bottom: 2rem">
  <h3>Reset Your Password</h3>
  <p>
    Enter a new password for your account.<br />
    Passwords must be six or more characters.
  </p>
  <br />

  <form class="example-form" style="padding-top: 1rem">
    <mat-form-field appearance="fill" style="width: 20rem">
      <mat-label>Enter new password</mat-label>
      <input [(ngModel)]="form.password" name="password" matInput />
      <!-- <button mat-icon-button matSuffix  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"> -->
      <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
      <!-- </button> -->
    </mat-form-field>

    <br />
    <br />
    <mat-form-field appearance="fill" style="width: 20rem">
      <mat-label>Confirm new password</mat-label>
      <input matInput />
      <!-- <button mat-icon-button matSuffix  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"> -->
      <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
      <!-- </button> -->
    </mat-form-field>

    <br />
    <br />
  </form>
  <button (click)="resetPassword()" class="btn btn-info" style="width: 20rem" [routerLink]="['/loginhomepage/login']">
    Submit
  </button>
</div>

<footer style="bottom: 0; position: absolute; width: 100%">
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
