<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../.././assets/pics/HD logo.png"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="TDO" style="color: rgb(0, 156, 158); margin-right: auto"
    >TutorDevOps</span
  >
  <div class="topnav-right">
    <a style="color: white;text-decoration: none"  [routerLink]="['/loginhomepage/login']">Home</a>
    <a style="color: white;text-decoration: none" [routerLink]="['/loginhomepage/about']">About</a>
    <a>Plans</a>
    <a>Content</a>
    <a>Online Store</a>
    <a style="color: white;text-decoration: none" [routerLink]="['/tutorhomepage/application']">Teach For TDO</a>
  </div>
</nav>

<nb-layout>
  <nb-layout-column>
    <div class="row" style="padding-top: 1.5rem">
      <div class="col md-12">
        <div>
          <h1
            style="
              text-align: center;
              color: rgb(0, 156, 158);
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            "
          >
            &lt; TDO &gt;
          </h1>
        </div>
        <div>
          <h2
            style="
              text-align: center;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            "
          >
            Maximize Your Potential
          </h2>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 2rem">
      <div class="col-md-6">
        <div style="margin-left: 10rem">
          <img
            src="../.././assets/pics/landing page.jpg"
            width="458"
            height="432"
            class="d-inline-block align-top"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row"
          style="
            border-radius: 25px;
            background-color: white;
            width: 23rem;
            height: auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);
            margin-left: 8rem;
          "
        >
          <div class="col-md-12">
            <div style="text-align: center; margin-top: 1rem">
              <i
                class="fa fa-user-circle-o"
                aria-hidden="true"
                style="font-size: 60px; color: rgb(0, 156, 158)"
              ></i>
              <h4>Login</h4>
            </div>
            <form class="example-form" style="padding-top: 1rem">
              <mat-form-field class="example-full-width">
                <mat-label>Email:</mat-label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                  <div
                    *ngIf="email.errors?.required"
                    style="font-size: smaller; color: red"
                  >
                    Email is required.
                  </div>
                  <div
                    *ngIf="email.errors?.minlength"
                    style="font-size: smaller; color: red"
                  >
                    Email must be at least 8 characters long.
                  </div>
                  <div *ngIf="email.errors?.pattern" style="font-size: smaller; color: red">
                    Please enter a valid email.
                  </div>
                </div>
                <input
                  [(ngModel)]="login.email"
                  #email="ngModel"
                  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                  placeholder="Example@gmail.com"
                  type="email"
                  name="email"
                  matInput
                  required
                  minlength="8"
                  id="email"

                />
              </mat-form-field>

              <mat-form-field class="example-full-width" id="z">
                <mat-label>Password:</mat-label>
                <div
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                  class="alert"
                >
                  <div
                    *ngIf="password.errors?.required"
                    style="font-size: smaller; color: red"
                  >
                    Password is required.
                  </div>
                  <div
                    *ngIf="password.errors?.minlength"
                    style="font-size: smaller; color: red"
                  >
                    Password must be 12 characters.
                  </div>
                  <div
                    *ngIf="password.errors?.pattern"
                    style="font-size: smaller; color: red"
                  >
                    Password must contain atleast a lowercase and an uppercase
                    letter, a number and a special character.
                  </div>
                </div>
                <input
                  [(ngModel)]="login.password"
                  name="password"
                  matInput
                  placeholder="Password"
                  type="password"
                  #password="ngModel"
                  required
                  minlength="12"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{12,30}$"
                />
              </mat-form-field>
            </form>

            <div style="text-align: center; padding-top: 0.5rem">
              <span style="padding-right: 1rem">
                <button
                  (click)="Log()"
                  type="button"
                  [disabled]="email.invalid || password.invalid"
                  class="btn btn-outline-secondary"
                  style="
                    border-color: rgb(0, 156, 158);
                    color: rgb(0, 156, 158);
                    width: 6.5rem;
                  "
                >
                  Login
                </button>
              </span>
              <button
                [routerLink]="['/studenthomepage/registerstudent']"
                type="button"
                class="btn btn-secondary"
                style="
                  border-color: rgb(0, 156, 158);
                  background-color: rgb(0, 156, 158);
                  width: 6.5rem;
                "
              >
                Register
              </button>
            </div>
            <hr />
            <div style="text-align: center">
              <label for="#z">
                <a
                  (click)="openForget()"
                  style="font-size: medium; text-align: center; color: blue"
                  >Forgot Password?</a
                ></label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<footer>
  <nav id="foot" class="navbar">
    <a class="navbar-brand" href="#"> </a>
    <span class="TDO" style="margin-right: auto"> &lt; TDO &gt;</span>
    <div class="topnav-right">
      <a href="#"> <i class="fa fa-facebook"></i> </a>
      <a href="#"> <i class="fa fa-instagram"></i> </a>
      <a href="#"> <i class="fa fa-twitter"></i> </a>
      <a>TutorDevOps@gmail.com</a>
    </div>
  </nav>
</footer>
